#tooltip-container,
.dropdown-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  color: inherit;
  backdrop-filter: blur(10px);
  display: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #000000;
  color: #ffffff;
  padding: 12px 30px 12px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
}

.dropbtn::after {
  content: "";
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.dropbtn:hover {
  background-color: #111111;
}

.dropdown-content {
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
  /* Ensure dropdown is always positioned absolutely */
}

/* Styles for the .show class */
.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #000000;
}

/* Remove the hover effect from .dropbtn since the dropdown appears on click */
.dropdown:hover .dropbtn {
  background-color: #111111;
}
